	<p id="notice"><%= notice %></p>

<div id="heading">
  <h1>Edit Your Post</h1>
</div>
<%= render 'form', post: @post %>
<tr>
<nav><td><%= link_to 'Show', post_path %></td> |
<td><%= link_to 'Back', posts_path %></td></nav>
</tr>