/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /**= require scaffolds.scss*/
 /**= require_self*/
 /**!*/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 75px;
}

.no_comments {
  opacity: 0.5;
  filter: alpha(opacity=50);
}


@media (min-width: 768px) {
  .group2 {
    text-align: right;
  }
}

footer {
  margin: 10px 0;
}

#comments li {
  list-style: none;
}

.row-fluid {
  word-wrap: break-word;
}

#continue_reading {
  margin-top: 142px;
}

.pagination {
  text-align: center;
  margin: 0;
}

.jumbotron {
  height: 430px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  background: url('https://booksssstore.s3.amazonaws.com/uploads/login.jpg') no-repeat center center ;
  background-size: 100%;
}

.welcome_sentence {
  margin-top: 200px;
}

.comment_form {
  margin-top: 80px;
}

#post_body {
  height: 250px;
}

.hidden_element {
  display: none;
}

.col-md-4 {
  margin-top: 19px;
}

.nested_comments {
  margin-left: 30px;
}